.container
  .row
    .col-md-4
      %h1= @interest.name
      %p= @interest.description
    .col-md-8
      %h2 Selected Images
      .events
      - @events.each do |e|
        .eventimg
          = link_to image_tag(e.image.primary.location.thumb.url), e
          %p e.name