/* roughly 4 images will fit into width of window */
.eventimg {
  float: left;
  width: 25%;
  height: 200px;
}

/* have images press up next to one another */
.eventimg img {
  width: 100%;
  height: 100%;
} 

.eventimg:hover {
  filter: saturate(150%);
  -webkit-filter: saturate(150%);
  -webkit-transform: scale(1.5) translateY(-50px);
  -moz-transform: scale (1.5) translateY(-50px);
  transform: scale(1.5) translateY(-50px); 
  z-index: 1999;
}
