/* roughly 4 images will fit into width of window */
.eventimg {
  float: left;
  width: 25%;
  height: auto;
}

// Switch from four images per row to two as screen gets narrower
@media screen and (max-width: 650px) {
  .eventimg {
    width: 48%;
    height: auto;
  }
}

/* have images press up next to one another */
.eventimg img {
  width: 100%;
  height: 100%;
  filter: none;
} 


