// Place all the styles related to the interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* width of image wrapper, including title */
.inteventimg {
  float: left;
  width: 33%;
  heightL: 49%;
}

@media screen and (max-width: 950px) {
  .inteventimg {
      width: 48%;
   }
}


@media screen and (max-width: 950) {
  .inteventimg {
    float: left;
    width: 48%;
    height: 49%;
  }
}

.inteventimg img {
  width: 100%;
  height: 100%;
}

/* hovering enlarges images */
.inteventimg:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1999;
}

.inteventimg:hover a {
  color: #cc00cc;
}

/* names above images */
.high {
  background-color: #cfcfcf;
  width: 100%;
  text-align: center;
}

.high a {
  color: black;
  font-weight: normal;
}
