/* container for all of a project's images */
.projectimg {
  width: 100%;
}

/* container for each of a project's images */
.projectimage {
  float: left;
  margin: 10px;
  width: 18%;
}
/* next project title */
.project {
  clear: both
}













