// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* bring image title on top of image, rather than below */
.low {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  transform: translateY(-25px);
  background-color: white;
  opacity: .7;
  width: 90%;
  text-align: center;
  margin: 0 auto 0 auto;
}

.low a {
  font-weight: normal;
}

/* each image has its own div name with associated transformations and animations. This div is the text. */
.fadeInStraight {
  -webkit-animation: fadeInStraight 6s; /*Chrome, Safari, Opera */
  animation: fadeInStraight 6s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInStraight {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeInStraight {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* formatting all images */
.slideUp, .slideRight, .fromCorner, .rotateFromLeft, .rotateInDown, .fadeIn {
  width: 32%;
  height: auto;
  float: right;
  background-color: white;
  text-align: center;
  color: black;
}

@media screen and (max-width: 650px) {
  .slideUp, .slideRight, .fromCorner, .rotateFromLeft, .rotateInDown, .fadeIn {
    width: 48%;
    height: auto;
  }
}
.intimg img {
  width: 100%;
  height: auto;  
}

/* each image enlarged when hovered over */
.slideUp:hover, .slideRight:hover, .fadeInLeft:hover, .fromCorner:hover, .rotateFromLeft:hover, .rotateInDown:hover, .fadeIn:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale (1.2);
  transform: scale(1.2);
  color: #cc00cc;
  font-weight: bold;
  filter: saturate(150%);
  -webkit-filter: saturate(150%);
  z-index: 1999;
}

.slideUp {
    -webkit-animation: slideUp 5s; /* Chrome, Safari, Opera */
    animation: slideUp 5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slideUp {
    from {-webkit-transform: rotate(0) translateY(-2000%);
          -moz-transform: rotate(0) translateY(-2000%);      
          transform: rotate(0) translateY(-2000%)}
    to {-webkit-transform: rotate(0) translateY(0);
        -moz-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0);}
}

/* Standard syntax */
@keyframes slideUp {
    from {-webkit-transform: rotate(0) translateY(-2000%);
          -moz-transform: rotate(0) translateY(-2000%);      
          transform: rotate(0) translateY(-2000%)}
    to {-webkit-transform: rotate(0) translateY(0);
        -moz-transform: rotate(0) translateY(0);
        transform: rotate(0) translateY(0);}
}

.slideRight {
    -webkit-animation: slideRight 4s; /* Chrome, Safari, Opera */
    animation: slideRight 4s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slideRight {
    from {-webkit-transform: rotate(-11deg) translateX(-2000%);
          -moz-transform: rotate(-11deg) translateX(-2000%);      
          transform: rotate(-11deg) translateX(-2000%)}
    to {-webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);}
}

/* Standard syntax */
@keyframes slideRight {
    from {-webkit-transform: rotate(-11deg) translateX(-2000%);
          -moz-transform: rotate(-11deg) translateX(-2000%);      
          transform: rotate(-11deg) translateX(-2000%)}
    to {-webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);}
}

.fadeInLeft {
    -webkit-animation: fadeInLeft 3s; /* Chrome, Safari, Opera */
    animation: fadeInLeft 3s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLeft {
    from {opacity: 0;
          -webkit-transform: rotate(8deg) translateX(2000%);
          -moz-transform: rotate(8deg) translateX(2000%);      
          transform: rotate(8deg) translateX(2000%)}
    to {opacity: 1;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0)}
}

/* Standard syntax */
@keyframes fadeInLeft {
    from {opacity: 0;
          -webkit-transform: rotate(8deg) translateX(2000%);
          -moz-transform: rotate(8deg) translateX(2000%);      
          transform: rotate(8deg) translateX(2000%)}
    to {opacity: 1;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0)}
}

.fromCorner {
    -webkit-animation: fromCorner 2s; /* Chrome, Safari, Opera */
    animation: fromCorner 2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fromCorner {
    from {-webkit-transform: translateX(-500%) translateY(-500%);
          -moz-transform: translateX(-500%) translateY(-500%);      
          transform: translateX(-500%) translateY(-500%)}
    to {-webkit-transform: translateY(-22deg);
        -moz-transform: translateY(-22deg);
        transform: translateY(-22deg)}
}

/* Standard syntax */
@keyframes fromCorner {
    from {-webkit-transform: translateX(-500%) translateY(-500%);
          -moz-transform: translateX(-500%) translateY(-500%);      
          transform: translateX(-500%) translateY(-500%)}
    to {-webkit-transform: translateY(-22deg);
        -moz-transform: translateY(-22deg);
        transform: translateY(-22deg)}
}

.rotateInDown {
    -webkit-animation: rotateInDown 5.5s; /* Chrome, Safari, Opera */
    animation: rotateInDown 5.5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotateInDown {
    from {-webkit-transform: rotate(90deg) translateX(500%) translateY(500%);
          -moz-transform: rotate(90deg) translateX(500%) translateY(500%);      
          transform: rotate(90deg) translateX(500%) translateY(500%)}
    to {-webkit-transform: translateY(-22deg);
        -moz-transform: translateY(-22deg);
        transform: translateY(-22deg)}
}

/* Standard syntax */
@keyframes rotateInDown {
    from {-webkit-transform: rotate(90deg) translateX(500%) translateY(500%);
          -moz-transform: rotate(90deg) translateX(500%) translateY(500%);      
          transform: rotate(90deg) translateX(500%) translateY(500%)}
    to {-webkit-transform: translateY(-22deg);
        -moz-transform: translateY(-22deg);
        transform: translateY(-22deg);}
}

.fadeIn {
    -webkit-animation: fadeIn 6s; /* Chrome, Safari, Opera */
    animation: fadeIn 6s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;
        -webkit-transform: translateY(-22deg);
        -moz-transform: translateY(-22deg);
        transform: translateY(-22deg);}
} 

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;
        -webkit-transform: translateY(-22deg);
        -moz-transform: translateY(-22deg);
        transform: translateY(-22deg);}
}

.rotateFromLeft {
    -webkit-animation: rotateFromLeft 2.5s; /* Chrome, Safari, Opera */
    animation: rotateFromLeft 2.5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotateFromLeft {
    from {-webkit-transform: translateX(-2000%) rotate(120deg);
          -mox-transform: translateX(-2000%) rotate(120deg);
          transform: translateX(-2000%) rotate(120deg);}
    to {-webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);}
}

/* Standard syntax */
@keyframes rotateFromLeft {
    from {opacity: 0;
          -webkit-transform: translateX(-2000%) rotate(120deg);
          -mox-transform: translateX(-2000%) rotate(120deg);
          transform: translateX(-2000%) rotate(120deg);}
    to {opacity: 1;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);}
}

/* position in which to land; the bottom three images need to slide up a bit */

.fadeIn, .rotateInDown, .fromCorner {
  -webkit-transform: translateY(-22px);
  -mox-transform: translateY(-22px);
  transform: translateY(-22px);
}